body{
  margin: 0;
  padding: 0;
  font-family: SEGOE UI;
  max-height: 95vh;
}

header{
  min-height: 50px;
  align-items: center;
  background-color: #111;
  z-index: 10;
}

main{
  margin-top: 15px;
  width: 100%;
}

h2{
  margin-bottom: -2px;
}

.gitlogo{
  height: 35px;
  margin-left: 20px;
}

input{
  height: 30px;
  width: 250px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
  margin-left: 20px;
  background: #333;
  color: whitesmoke;
  border: none;
  font-size: 14pt;
}

input::-webkit-input-placeholder {
  color: whitesmoke;
}

button{
  width: 100px;
  height: 32px;
  background: #333;
  border: none;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search{
  height: 20px;
  width: 20px;
}

.error{
  z-index: 1;
  display: none;
  height: 50px;
  width: 360px;
  margin-left: 75px;
  background: rgb(243, 170, 170);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  animation-name: error;
  animation-duration: 1s;
}

@keyframes error{
  0%{
    opacity: 0;
    margin-top: -50px;
  }
  100%{
    margin-top: 0;
    opacity: 1;
  }
}
#usuario{
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

#usuario span{
  margin-bottom: 5px;
}

#usuario a{
  margin-bottom: 5px;
}

.octocat{
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.octocat img{
  z-index: 1;
  height: 250px;
  width: 280px;
}
.octocat span{
  z-index: 0;
  font-size: 15pt;
  margin-bottom: 150px;
  animation-name: octotext;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@keyframes octotext{
  0%{
    opacity: 0;
    margin-right: -300px;
  }
  100%{
    margin-right: 10;
  }
}

.location{
  height: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.card{
  height: 300px;
  width: 300px;
  text-align: center;
}

.flex{
  display: flex;
}

.center{
  align-items: center;
  justify-content: center;
}

.column{
  flex-direction: column;
}

.user-picture{
  height: 300px;
  width: 300px;
  border-radius: 100%;
  margin-bottom: -15px;
}

.repository{
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: whitesmoke;
  color: black;
  height: 100px;
  width: 45%;
  border: 1px solid lightgray;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 10px;
}
.repository p{
  font-size: 18px;
}

.repository span{
  text-decoration: underline;
  font-size: 15px;
}

a{
  color: black;
  text-decoration: none;
}

.wrap{
  flex-wrap: wrap;
}

.repositories{
  max-height: 90vh;
  overflow: scroll;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;

}

.repositories::-webkit-scrollbar {
  width: 1px;
  background: #F4F4F4;
}
body::-webkit-scrollbar {
  width: 1px;
  background: #F4F4F4;
}

@media (max-width: 840px){
  .repository{
    width: 90%;
  }
}

@media (max-width: 640px){
  main{
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .repositories{
    margin-top: 250px;
  }
  #usuario{
    margin: 0;
  }
  .error{
    margin-left: 50px;
    width: 300px;
  }
  .octocat{
    justify-content: center;
    height: 300px;
    flex-direction: column;
  }
  .octocat span{
    text-align: center;
    margin-top: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
    animation-name: scroll-up;
  }
}

@media (max-width: 450px){
  input{
    width: 60%;
  }
  button{
    width: 10%;
  }
}

@media (max-width: 330px){
  .error{
    margin-left: 10px;
  }
  .octocat span{
    text-align: center;
    margin-top: 150px;
    margin-bottom: -1px;
    animation-name: none;
  }
}

.fade{
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes scroll-up{
  0%{
    opacity: 0;
    margin-bottom: -100px;
  }
  100%{
    margin-bottom: 15px;
  }
}