body{
  margin: 0;
  padding: 0;
  font-family: SEGOE UI;
  max-height: 95vh;
}

header{
  min-height: 50px;
  align-items: center;
  background-color: #111;
  margin-bottom: 15px;
}

main{
  width: 100%;
}

h2{
  margin-bottom: -2px;
}

.gitlogo{
  height: 35px;
  margin-left: 20px;
}

input{
  height: 30px;
  width: 250px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
  margin-left: 20px;
  background: #333;
  color: whitesmoke;
  border: none;
  font-size: 14pt;
}

input::-webkit-input-placeholder {
  color: whitesmoke;
}

button{
  width: 100px;
  height: 32px;
  background: #333;
  border: none;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search{
  height: 20px;
  width: 20px;
}

#usuario{
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.card{
  height: 300px;
  width: 300px;
  text-align: center;
}

.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.user-picture{
  height: 300px;
  width: 300px;
  border-radius: 100%;
  margin-bottom: -15px;
}

.repository{
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: whitesmoke;
  color: black;
  height: 100px;
  width: 45%;
  border: 1px solid lightgray;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 10px;
}

.repository span{
  font-size: 20px;
}

.repository a{
  color: black;
  text-decoration: none;
}

.wrap{
  flex-wrap: wrap;
}

.repositories{
  max-height: 90vh;
  overflow: scroll;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;

}

.repositories::-webkit-scrollbar {
  width: 1px;
  background: #F4F4F4;
}
body::-webkit-scrollbar {
  width: 1px;
  background: #F4F4F4;
}

@media (max-width: 840px){
  .repository{
    width: 90%;
  }
}

@media (max-width: 640px){
  main{
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .repositories{
    margin-top: 250px;
  }
  #usuario{
    margin: 0;
  }
}

@media (max-width: 450px){
  input{
    width: 60%;
  }
  button{
    width: 10%;
  }
}